@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

/**
 * 
 * CSS styles for the body element.
 * 
 * - Sets the background color to #686de0.
 * - Uses the "Roboto" font family.
 * - Sets the display to flex and the flex direction to column.
 * - Centers the content vertically and horizontally.
 * - Sets the height to 100vh (viewport height).
 * - Hides any overflow.
 * - Removes margin and adds 20px of padding.
 */
body {
  background-color: #686de0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 1.3rem;
}

/**
 * 
 * Styles for the container element.
 */
.container{
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px 20px;
    max-width: 100%;
    text-align: center;
    width: 50rem;
}

/**
 * 
 * Styles for the title element.
 */
 h3{
     margin: 0;
     opacity: 0.5;
     letter-spacing: 2.5px;
     margin-bottom: 1rem;
 }
